:root {
  --button-button-xs-24-padding: 0 0.8rem;
  --button-button-xs-24-height: 2.4rem;
  --button-button-xs-24-typography: Body4-R-13;
  --button-button-sm-28-padding: 0 1rem;
  --button-button-sm-28-height: 2.8rem;
  --button-button-sm-28-typography: Body3-R-14;
  --button-button-md-32-padding: 0 1.2rem;
  --button-button-md-32-height: 3.2rem;
  --button-button-md-32-typography: Body3-M-14;
  --button-button-lg-40-padding: 0 1.6rem;
  --button-button-lg-40-height: 4rem;
  --button-button-lg-40-typography: Body2-M-16;
  --button-button-xl-48-padding: 0 1.6rem;
  --button-button-xl-48-height: 4.8rem;
  --button-button-xl-48-typography: Body2-B-16;
  --button-button-2xl-56-padding: 0 2rem;
  --button-button-2xl-56-height: 5.6rem;
  --button-button-2xl-56-typography: Body1-B-18;
  --typography-Heading1-B-48-font-size: 4.8rem;
  --typography-Heading1-B-48-font-weight: 700;
  --typography-Heading1-B-48-line-height: 140%;
  --typography-Heading1-B-48-letter-spacing: 0;
  --typography-Heading2-B-40-font-size: 4rem;
  --typography-Heading2-B-40-font-weight: 700;
  --typography-Heading2-B-40-letter-spacing: 0;
  --typography-Heading2-B-40-line-height: 140%;
  --typography-Heading3-B-36-font-size: 3.6rem;
  --typography-Heading3-B-36-font-weight: 700;
  --typography-Heading3-B-36-letter-spacing: 0;
  --typography-Heading3-B-36-line-height: 140%;
  --typography-Heading4-B-32-font-size: 3.2rem;
  --typography-Heading4-B-32-font-weight: 700;
  --typography-Heading4-B-32-letter-spacing: 0;
  --typography-Heading4-B-32-line-height: 140%;
  --typography-Heading5-B-28-font-size: 2.8rem;
  --typography-Heading5-B-28-font-weight: 700;
  --typography-Heading5-B-28-letter-spacing: 0;
  --typography-Heading5-B-28-line-height: 140%;
  --typography-Heading5-R-28-font-size: 2.8rem;
  --typography-Heading5-R-28-font-weight: 400;
  --typography-Heading5-R-28-letter-spacing: 0;
  --typography-Heading5-R-28-line-height: 140%;
  --typography-Heading5-R-24-font-size: 2.4rem;
  --typography-Heading5-R-24-font-weight: 400;
  --typography-Heading5-R-24-letter-spacing: 0;
  --typography-Heading5-R-24-line-height: 140%;
  --typography-Heading6-B-24-font-size: 2.4rem;
  --typography-Heading6-B-24-font-weight: 700;
  --typography-Heading6-B-24-line-height: 140%;
  --typography-Heading6-B-24-letter-spacing: -0.2px;
  --typography-Heading6-R-24-font-size: 2.4rem;
  --typography-Heading6-R-24-font-weight: 400;
  --typography-Heading6-R-24-line-height: 140%;
  --typography-Heading6-R-24-letter-spacing: -0.2px;
  --typography-Heading7-B-22-color: var(--Gray-gray-900, #1E2124);
  --typography-Heading7-B-22-font-family: Pretendard;
  --typography-Heading7-B-22-font-size: 22px;
  --typography-Heading7-B-22-font-weight: 700;
  --typography-Heading7-B-22-line-height: 140%;
  --typography-Heading7-B-22-letter-spacing: -0.2px;
  --typography-Heading7-R-22-font-size: 2.2rem;
  --typography-Heading7-R-22-font-weight: 400;
  --typography-Heading7-R-22-line-height: 140%;
  --typography-Heading7-R-22-letter-spacing: -0.2px;
  --typography-Heading8-B-20-font-size: 2rem;
  --typography-Heading8-B-20-font-weight: 700;
  --typography-Heading8-B-20-line-height: 140%;
  --typography-Heading8-B-20-letter-spacing: -0.2px;
  --typography-Heading8-R-20-font-size: 2rem;
  --typography-Heading8-R-20-font-weight: 400;
  --typography-Heading8-R-20-line-height: 140%;
  --typography-Heading8-R-20-letter-spacing: -0.2px;
  --typography-Body1-B-18-font-size: 1.8rem;
  --typography-Body1-B-18-font-weight: 700;
  --typography-Body1-B-18-line-height: 140%;
  --typography-Body1-B-18-letter-spacing: -0.3px;
  --typography-Body1-M-18-font-size: 1.8rem;
  --typography-Body1-M-18-font-weight: 500;
  --typography-Body1-M-18-line-height: 140%;
  --typography-Body1-M-18-letter-spacing: -0.3px;
  --typography-Body1-R-18-font-size: 1.8rem;
  --typography-Body1-R-18-font-weight: 400;
  --typography-Body1-R-18-line-height: 140%;
  --typography-Body1-R-18-letter-spacing: -0.3px;
  --typography-Body2-B-16-font-size: 1.6rem;
  --typography-Body2-B-16-font-weight: 700;
  --typography-Body2-B-16-line-height: 140%;
  --typography-Body2-B-16-letter-spacing: -0.3px;
  --typography-Body2-M-16-font-size: 1.6rem;
  --typography-Body2-M-16-font-weight: 500;
  --typography-Body2-M-16-line-height: 140%;
  --typography-Body2-M-16-letter-spacing: -0.3px;
  --typography-Body2-R-16-font-size: 1.6rem;
  --typography-Body2-R-16-font-weight: 400;
  --typography-Body2-R-16-line-height: 140%;
  --typography-Body2-R-16-letter-spacing: -0.3px;
  --typography-Body3-B-14-font-size: 1.4rem;
  --typography-Body3-B-14-font-weight: 700;
  --typography-Body3-B-14-letter-spacing: -0.3%;
  --typography-Body3-B-14-line-height: 140%;
  --typography-Body3-M-14-font-size: 1.4rem;
  --typography-Body3-M-14-font-weight: 500;
  --typography-Body3-M-14-letter-spacing: -0.3%;
  --typography-Body3-M-14-line-height: 140%;
  --typography-Body3-R-14-font-size: 1.4rem;
  --typography-Body3-R-14-font-weight: 400;
  --typography-Body3-R-14-letter-spacing: -0.3%;
  --typography-Body3-R-14-line-height: 140%;
  --typography-Body4-B-13-font-size: 1.3rem;
  --typography-Body4-B-13-font-weight: 700;
  --typography-Body4-B-13-letter-spacing: -0.3%;
  --typography-Body4-B-13-line-height: 140%;
  --typography-Body4-M-13-font-size: 1.3rem;
  --typography-Body4-M-13-font-weight: 500;
  --typography-Body4-M-13-letter-spacing: -0.3%;
  --typography-Body4-M-13-line-height: 140%;
  --typography-Body4-R-13-font-size: 1.3rem;
  --typography-Body4-R-13-font-weight: 400;
  --typography-Body4-R-13-letter-spacing: -0.3%;
  --typography-Body4-R-13-line-height: 140%;
  --typography-Body5-B-12-font-size: 1.2rem;
  --typography-Body5-B-12-font-weight: 700;
  --typography-Body5-B-12-letter-spacing: -0.3%;
  --typography-Body5-B-12-line-height: 140%;
  --typography-Body5-R-12-font-size: 1.2rem;
  --typography-Body5-R-12-font-weight: 400;
  --typography-Body5-R-12-letter-spacing: -0.3%;
  --typography-Body5-R-12-line-height: 140%;
  --font-family-main: pretendard;
  --font-family-sub: SUIT;
  --font-default: 1.4rem;
  --font-weight-default: 400;
  --border-default: 1px solid #d9d9d9;
  --border-radius-default: 0.6rem;
  --padding-default: 0.8rem;
  --transition-up: cubic-bezier(0.53, 0.01, 0.09, 0.99) 0s;
  --transition-down: cubic-bezier(0.63, 0, 0.14, 1.22);
  --color-focus: 1px solid #0066ff;
  --height-default: 3.5rem;
  --white: #fff;
  --black: ;
  --gray-50: #F4F5F6;
  --gray-100: #E6E8EA;
  --gray-200: #CDD1D5;
  --gray-300: #B1B8BE;
  --gray-400: #8A949E;
  --gray-500: #6D7882;
  --gray-600: #58616A;
  --gray-700: #464C53;
  --gray-800: #33363D;
  --gray-900: #1E2124;
  --navy-50: #EEF2F7;
  --navy-100: #D6E0EB;
  --navy-200: #BACBDE;
  --navy-300: #90B0D5;
  --navy-400: #6B96C7;
  --navy-500: #346FB2;
  --navy-600: #1C589C;
  --navy-700: #063A74;
  --navy-800: #052B57;
  --navy-900: #031F3F;
  --deep-pink-50: #F6ECF3;
  --deep-pink-100: #E4C4DA;
  --deep-pink-200: #D7A8C9;
  --deep-pink-300: #C580B0;
  --deep-pink-400: #BA68A1;
  --deep-pink-500: #A94289;
  --deep-pink-600: #9A3C7D;
  --deep-pink-700: #782F61;
  --deep-pink-800: #5D244B;
  --deep-pink-900: #471C3A;
  --pink-50: #FBEFF0;
  --pink-100: #F5D6D9;
  --pink-200: #EBADB2;
  --pink-300: #E0858C;
  --pink-400: #D65C66;
  --pink-500: #D63D4A;
  --pink-600: #AB2B36;
  --pink-700: #7A1F26;
  --pink-800: #521419;
  --pink-900: #310C0F;
  --yellow-50: #FFF3DB;
  --yellow-100: #FFE0A3;
  --yellow-200: #FFC95C;
  --yellow-300: #FFB114;
  --yellow-400: #C78500;
  --yellow-500: #9E6A00;
  --yellow-600: #8A5C00;
  --yellow-700: #614100;
  --yellow-800: #422C00;
  --yellow-900: #2E1F00;
  --blue-50: #ECF2FE;
  --blue-100: #D8E5FD;
  --blue-200: #B1CEFB;
  --blue-300: #86AFF9;
  --blue-400: #4C87F6;
  --blue-500: #256EF4;
  --blue-600: #0B50D0;
  --blue-700: #083891;
  --blue-800: #052561;
  --blue-900: #03163A;
  --red-50: #FDEFEC;
  --red-100: #FCDFD9;
  --red-200: #F7AFA1;
  --red-300: #F48771;
  --red-400: #F05F42;
  --red-500: #DE3412;
  --red-600: #BD2C0F;
  --red-700: #8A240F;
  --red-800: #5C180A;
  --red-900: #390D05;
  --green-50: #EAF6EC;
  --green-100: #D8EEDD;
  --green-200: #A9DAB4;
  --green-300: #7EC88E;
  --green-400: #3FA654;
  --green-500: #228738;
  --green-600: #267337;
  --green-700: #285D33;
  --green-800: #1F4727;
  --green-900: #122B18;
  --deep-green-50: #EDF6F8;
  --deep-green-100: #D5EBF1;
  --deep-green-200: #ABD8E3;
  --deep-green-300: #75C0D1;
  --deep-green-400: #3D9FB8;
  --deep-green-500: #268097;
  --deep-green-600: #1F687A;
  --deep-green-700: #17505E;
  --deep-green-800: #113B45;
  --deep-green-900: #0E3139;
  --spacing-2: 0.2rem;
  --spacing-4: 0.4rem;
  --spacing-6: 0.6rem;
  --spacing-8: 0.8rem;
  --spacing-10: 1rem;
  --spacing-12: 1.2rem;
  --spacing-16: 1.6rem;
  --spacing-24: 2.4rem;
  --spacing-32: 3.2rem;
  --spacing-40: 4rem;
  --spacing-48: 4.8rem;
  --spacing-60: 6rem;
  --spacing-80: 8rem;
  --spacing-92: 9.2rem;
  --spacing-100: 10rem;
  --spacing-120: 12rem;
  --radius-xs-2: 0.2rem;
  --radius-sm-4: 0.4rem;
  --radius-md-8: 0.8rem;
  --radius-lg-16: 1.6rem;
  --radius-full: 100%;
}

.button-xs-24 {
  padding: var(--button-button-xs-24-padding);
  height: var(--button-button-xs-24-height);
  font-size: var(--typography-Body4-R-13-font-size);
  font-weight: var(--typography-Body4-R-13-font-weight);
  line-height: var(--typography-Body4-R-13-line-height);
  letter-spacing: var(--typography-Body4-R-13-letter-spacing);
}

.button-sm-28 {
  padding: var(--button-button-sm-28-padding);
  height: var(--button-button-sm-28-height);
  font-size: var(--typography-Body3-R-14-font-size);
  font-weight: var(--typography-Body3-R-14-font-weight);
  line-height: var(--typography-Body3-R-14-line-height);
  letter-spacing: var(--typography-Body3-R-14-letter-spacing);
}

.button-md-32 {
  padding: var(--button-button-md-32-padding);
  height: var(--button-button-md-32-height);
  font-size: var(--typography-Body3-M-14-font-size);
  font-weight: var(--typography-Body3-M-14-font-weight);
  line-height: var(--typography-Body3-M-14-line-height);
  letter-spacing: var(--typography-Body3-M-14-letter-spacing);
}

.button-lg-40 {
  padding: var(--button-button-lg-40-padding);
  height: var(--button-button-lg-40-height);
  font-size: var(--typography-Body2-M-16-font-size);
  font-weight: var(--typography-Body2-M-16-font-weight);
  line-height: var(--typography-Body2-M-16-line-height);
  letter-spacing: var(--typography-Body2-M-16-letter-spacing);
}

.button-xl-48 {
  padding: var(--button-button-xl-48-padding);
  height: var(--button-button-xl-48-height);
  font-size: var(--typography-Body2-B-16-font-size);
  font-weight: var(--typography-Body2-B-16-font-weight);
  line-height: var(--typography-Body2-B-16-line-height);
  letter-spacing: var(--typography-Body2-B-16-letter-spacing);
}

.button-2xl-56 {
  padding: var(--button-button-2xl-56-padding);
  height: var(--button-button-2xl-56-height);
  font-size: var(--typography-Body1-B-18-font-size);
  font-weight: var(--typography-Body1-B-18-font-weight);
  line-height: var(--typography-Body1-B-18-line-height);
  letter-spacing: var(--typography-Body1-B-18-letter-spacing);
}

.button-container {
  width: 100%;
  justify-content: center;
  height: 25rem;
}
.button-container ul {
  display: flex;
  gap: 1.6rem;
  box-sizing: border-box;
}
.button-container ul li {
  height: 4rem;
  background-color: var(--gray-50);
}
.button-container ul li .blue-button {
  background-color: var(--blue-500);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-button-lg-40-padding);
  height: var(--button-button-lg-40-height);
  font-size: var(--typography-Body2-M-16-font-size);
  font-weight: var(--typography-Body2-M-16-font-weight);
  line-height: var(--typography-Body2-M-16-line-height);
  letter-spacing: var(--typography-Body2-M-16-letter-spacing);
  border-radius: var(--radius-sm-4);
  max-width: 20rem;
  min-width: 10rem;
  width: 12vw;
}
.button-container ul li .blue-button .arrow-icon {
  width: 1rem;
  height: 1rem;
  background: url(./img/Icon_arrow.svg) 50% 50%/contain no-repeat;
}
.button-container ul li .blue-button .download-icon {
  width: 1.6rem;
  height: 1.6rem;
  background: url(./img/Icon_down.svg) 50% 50%/contain no-repeat;
}
.button-container ul li:nth-child(1) {
  position: relative;
}
.button-container ul li:nth-child(1) .number-01 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4rem;
  width: 2rem;
  height: 2rem;
  background-color: black;
  color: var(--white);
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container ul li:nth-child(1) .number-01:before {
  position: absolute;
  left: 2rem;
  display: block;
  content: "";
  width: 2.2rem;
  height: 0.1rem;
  background-color: black;
}
.button-container ul li:nth-child(1) .number-01:after {
  position: absolute;
  left: 3.8rem;
  display: block;
  border-radius: var(--radius-full);
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
}
.button-container ul li:nth-child(1) .number-02 {
  position: absolute;
  transform: translateX(-50%);
  top: -3rem;
  left: 50%;
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: var(--radius-full);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container ul li:nth-child(1) .number-02:before {
  position: absolute;
  display: block;
  top: 2rem;
  content: "";
  height: 1rem;
  width: 0.1rem;
  background-color: black;
}
.button-container ul li:nth-child(1) .number-02:after {
  position: absolute;
  display: block;
  border-radius: var(--radius-full);
  content: "";
  top: 2.9rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
}
.button-container ul li:nth-child(1) .blue-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container ul li:nth-child(2) {
  position: relative;
}
.button-container ul li:nth-child(2) .blue-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-container ul li:nth-child(2) .number-03 {
  position: absolute;
  transform: translateX(-50%);
  bottom: -3rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: var(--radius-full);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container ul li:nth-child(2) .number-03:before {
  position: absolute;
  display: block;
  content: "";
  width: 0.1rem;
  top: -2rem;
  height: 2rem;
  background-color: black;
}
.button-container ul li:nth-child(2) .number-03:after {
  position: absolute;
  display: block;
  border-radius: var(--radius-full);
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  top: -2rem;
}
.button-container ul li:nth-child(3) {
  position: relative;
}
.button-container ul li:nth-child(3) .blue-button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.button-container ul li:nth-child(3) .number-04 {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: var(--radius-full);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container ul li:nth-child(3) .number-04:before {
  top: -2rem;
  position: absolute;
  display: block;
  content: "";
  width: 0.1rem;
  height: 2rem;
  background-color: black;
}
.button-container ul li:nth-child(3) .number-04:after {
  position: absolute;
  display: block;
  border-radius: var(--radius-full);
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  top: -2rem;
}

.naming-txt ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.naming-txt ul li {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.naming-container-gray {
  flex-wrap: wrap;
}
.naming-container-gray div {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  gap: 1rem;
}
.naming-container-gray .high .button {
  background-color: var(--blue-500);
  color: var(--white);
  border-radius: var(--radius-sm-4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.naming-container-gray .medium-01 .button {
  background-color: var(--white);
  color: var(--blue-500);
  border: 1px solid var(--blue-500);
  border-radius: var(--radius-sm-4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.naming-container-gray .medium-02 .button {
  background-color: var(--white);
  color: var(--gray-700);
  border: 1px solid var(--gray-700);
  border-radius: var(--radius-sm-4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.naming-container-gray .medium-03 .button {
  background-color: var(--gray-50);
  color: var(--gray-700);
  border-radius: var(--radius-sm-4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.naming-container-gray .more {
  font-size: var(--typography-Body3-M-14-font-size);
  font-weight: var(--typography-Body3-M-14-font-weight);
  line-height: var(--typography-Body3-M-14-line-height);
  letter-spacing: var(--typography-Body3-M-14-letter-spacing);
  text-decoration: underline;
  color: var(--gray-700);
}/*# sourceMappingURL=button.css.map */