/* 왼쪽 메뉴 탭 s */
.aside-tab {
  width: 30rem;
  height: 100%;
  position: fixed;
  padding-top: 10rem;
  border-right: var(--border-default);
  box-sizing: border-box;
  transition: 0.3s ease;
  /* left: -30rem; */
  top: 0;
  left: 0;
  background: #fff;
}
header {
  z-index: 100;
  position: sticky;
  top: 0;
}
.main-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #000;
  padding: 2rem 4rem;
}

header .menu-bar-left {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

header .menu-bar-right {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

header .menu-bar-right {
  display: flex;
  align-items: center;
  
}

.logo-img {
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.logo-img .logo-box {
  background: url(./img/logo_3x_w.png) 50% 50% / contain no-repeat ;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
}

.logo-img span {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-white);
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

.github-link-txt {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-white);
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

.github-link {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background: #4B4B4B url(./img/send.png) 50% 50% / 50% no-repeat;
  border-radius: 4px;
  transition: .3s var(--transition-default);
}

.github-link:hover {
  background-color: #5890ff;
}

.component-search {
  box-sizing: border-box;
  border: none;
}

.search-btn {
  background: url(./img/search_b.png) no-repeat center center;
  width: 2rem;
  height: 3.5rem;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  margin-left: 1rem;
  cursor: pointer;
}

.search-box {
  width: 100%;
  height: 3.5rem;
  border: var(--border-default);
  border-radius: 0.5rem;
  position: relative;
  box-sizing: border-box;
  padding: 0 .8rem 0 3.6rem;
}

.tab {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 15rem);
}

.tab ul {
  padding-left: 2.4rem;
}

.tab li {
  margin: 0;
  /* width: 31rem; */
}

.tab li .depth-one {
  background: none;
  border: none;
  font-size: var(--font-default);
  color: var(--color-black);
  height: 3.5rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
}

.tab li.on .depth-one {
  color: var(--color-main);
  font-weight: var(--font-weight-title);
}

.tab li button span {
  display: inline-block;
  border: 0.5rem solid transparent;
  border-left-color: var(--color-border);
}

.tab li.on button span {
  border-top-color: var(--color-main);
  border-left-color: var(--color-white);
  vertical-align: middle;
  margin-right: 1.2rem;
}

.side-tab {
  display: flex;
  flex-direction: column;
  display: none;
}

.tab li.on .side-tab {
  display: block;
}

.side-tab button {
  width: 100%;
  height: 4rem;
  font-size: var(--font-default);
  text-align: left;
  padding-left: 3.6rem;
  cursor: pointer;
  color: var(--color-font);
  box-sizing: border-box;
  transition: .3s var(--transition-default);
}

.side-tab button.on {
  color: var(--color-black);
  font-weight: 600;
}

/* 왼쪽 메뉴 탭 e */

/* 메인 정보 s */
main {
  width: calc(100% - 30rem);
  margin-left: 30rem;
}
/* 메인 정보 e */

/* 상단 타이틀 s */
.main-content .top-title {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  font-size: var(--font-default);
  border-bottom: 1px solid var(--color-border);
  box-sizing: border-box;
  z-index: 1;
  padding: 2.4rem 2.4rem 2.4rem 7.2rem;
  pointer-events: none;
  transition: .3s var(--transition-default);
}
.main-content.on .top-title {
  padding: 2.4rem;
  top: 0;
  background-color: var(--color-white);
  box-shadow: var(--shadow-default);
}

.sub-txt {
  margin: 0;
  font-size: var(--font-default);
  color: var(--color-font);
  margin-left: .3rem;
}

/* 상단 타이틀 e */
.main-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin:7rem 0;
  box-sizing: border-box;
}

.main-title>.title {
  font-size: var(--font-title-sub);
  font-weight: 700;
  color: var(--color-black);
  font-family: 'SUIT';
  width: calc(100% - 25rem);
}

.scroll-box {
  height: calc(100% - 6.5rem);
  width: 100%;
  /* position: absolute; */
  top: 6.5rem;
  box-sizing: border-box;
  padding: 0 2.4rem;
}

.work-tab {
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 25rem;
  margin: 0;
  gap: .5rem;
}

.work-tab>li {
  height: 100%;
  width: 100%;
  border-radius: .6rem;
}

.work-tab>li>button {
  font-size: var(--font-default);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  cursor: pointer;
}

.html {
  background: #c8daf9;
}

.css {
  background: #ffe098;
}

.js {

  background: #ffdada;
}