/* 왼쪽 메뉴 탭 s */
.aside-tab {
  width: 30rem;
  height: 100%;
  position: fixed;
  border-right: var(--border-c1);
  box-sizing: border-box;
  transition: 0.3s ease;
  left: -30rem;
  z-index: 10;
  background: #fff;
}

.aside-tab.on {
  left: 0;
}

.main-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding: 2.4rem 2.4rem 0;
  box-sizing: border-box;
}

.logo-img {
  background: url(./img/logo.png);
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  cursor: pointer;
}

.menu-img {
  background: url(./img/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  cursor: pointer;
}

header {
  width: 6.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 0;
  left: 0;
  transition: 0.3s ease;
  justify-content: flex-start;
}

header.on {
  width: 30rem;
  justify-content: flex-end;
}

header.on .menu-bar {
  display: none;
}

.menu-bar {
  transition: 0.3s ease;
  margin: 0;
  display: flex;
  align-items: center;
}

.right-menu-img {
  background: url(./img/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  cursor: pointer;
  /* position: fixed; */
  left: 2.5rem;
  /* display: none; */
  box-sizing: border-box;
  z-index: 1000;
}

.right-menu-img.on {
  display: block;
}

.component-search {
  padding: 0 2.4rem 2.4rem;
  box-sizing: border-box;
  border: none;
}

.search-btn {
  background: url(./img/search.png);
  width: 2rem;
  height: 3.5rem;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  margin-left: 1rem;
  cursor: pointer;
}

.search-box {
  width: 100%;
  height: 3.5rem;
  border: var(--border-c1);
  border-radius: 0.5rem;
  position: relative;
  box-sizing: border-box;
  padding: 0 .8rem 0 3.6rem;
}

.tab {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 15rem);
}

.tab ul {
  padding-left: 2.4rem;
}

.tab li {
  margin: 0;
  /* width: 31rem; */
}

.tab li .depth-one {
  background: none;
  border: none;
  font-size: var(--font-default);
  color: var(--color-black);
  height: 3.5rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
}

.tab li.on .depth-one {
  color: var(--color-main);
  font-weight: var(--font-weight-title);
}

.tab li button span {
  display: inline-block;
  border: 0.5rem solid transparent;
  border-left-color: var(--color-border);
}

.tab li.on button span {
  border-top-color: var(--color-main);
  border-left-color: var(--color-white);
  vertical-align: middle;
  margin-right: 1.2rem;
}

.side-tab {
  display: flex;
  flex-direction: column;
  display: none;
}

.tab li.on .side-tab {
  display: block;
}

.side-tab button {
  width: 100%;
  height: 4rem;
  font-size: var(--font-default);
  text-align: left;
  padding-left: 3.6rem;
  cursor: pointer;
  color: var(--color-font);
  box-sizing: border-box;
}

.side-tab button.on {
  color: var(--color-black);
  font-weight: var(--font-weight-title);
}

/* 왼쪽 메뉴 탭 e */

/* 메인 정보 s */

.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  transition: 0.3s ease;
  align-items: center;
  margin: 0;
  justify-content: center;
  flex-direction: column;
}

.main-content.on {
  margin-left: 30rem;
  width: calc(100% - 30rem);
}

.layout {
  width: calc(100% - 4rem);
  max-width: 128rem;
  max-height: 90rem;
  /* 최대 높이 설정 */
  height: calc(100% - 4rem);
  /* 높이를 컨텐츠에 맞게 조정 */
  display: grid;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
  margin: 0;
}

.grid-box {
  width: 100%;
  max-height: 45rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: 100%;
}

.solvekdesign-system {
  background-image: url(../css/img/solvekdesign.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 45rem;
  border-radius: 2rem;
  position: relative;
  height: 100%;
}

.layout>div a {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
  height: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
  margin: 0;
}

.title {
  word-break: keep-all;
  color: var(--color-white);
  font-size: var(--font-title);
  font-weight: var(--font-weight-title);
  font-family: var(--font-family-g);
  line-height: 5rem;
  margin: 0;
  text-transform: uppercase;
}

.txt {
  word-break: keep-all;
  color: var(--color-white);
  font-size: var(--font-default);
  max-width: 30rem;
  margin: 0;
  line-height: 2.5rem;
  /* width: 100%; */
}

.solvek-home {
  background-image: url(../css/img/solvekhome.png);
  background-position: center;
  background-size: cover;
  grid-column: 1 / 3;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.side-project {
  background-image: url(../css/img/sideproject.png);
  background-position: center;
  background-size: cover;
  grid-column: 3 / 4;
  /* aspect-ratio: 1/1; */
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

/* 메인 정보 e */

/* 상단 타이틀 s */
.main-content .top-title {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  font-size: var(--font-default);
  border-bottom: 1px solid var(--color-border);
  box-sizing: border-box;
  z-index: 1;
  padding: 2.4rem 2.4rem 2.4rem 7.2rem;
  pointer-events: none;
  transition: .3s var(--transition-default);
}
.main-content.on .top-title {
  padding: 2.4rem;
}

.sub-txt {
  margin: 0;
  font-size: var(--font-default);
  color: var(--color-font);
  margin-left: .3rem;
}

/* 상단 타이틀 e */
.main-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin:7rem 0;
  box-sizing: border-box;
}

.main-title>.title {
  font-size: var(--font-title-sub);
  font-weight: 700;
  color: var(--color-black);
  font-family: 'SUIT';
  width: calc(100% - 25rem);
}

.scroll-box {
  height: calc(100% - 6.5rem);
  width: 100%;
  /* position: absolute; */
  top: 6.5rem;
  box-sizing: border-box;
  padding: 0 2.4rem;
}

.work-tab {
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 25rem;
  margin: 0;
  gap: .5rem;
}

.work-tab>li {
  height: 100%;
  width: 100%;
  border-radius: .6rem;
}

.work-tab>li>button {
  font-size: var(--font-default);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  cursor: pointer;
}

.html {
  background: #c8daf9;
}

.css {
  background: #ffe098;
}

.js {

  background: #ffdada;
}