input[type="number"] {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-default);
    padding: var(--padding-default);
}

  .number-arrow::-webkit-inner-spin-button,
  .number-arrow::-webkit-outer-spin-button {
    opacity: 1;
  }

.number-custom {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 3.5rem;
}



.input-number {
  width: 100%;
  position: absolute;
}

.number-custom .number-arrow::-webkit-inner-spin-button,
.number-custom .number-arrow::-webkit-outer-spin-button {
  opacity: 0;
}

.btn-left {
  position: absolute;
  z-index: 3;
  right: var(--padding-default);
  display: inline-block;
  transform: translateY(-50%);
  top: 50%;
  display: flex;
  gap: .4rem;
}

.number-custom .number-custom-btn {
  font-size: 1.5rem;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background-color: var(--color-main);
  color: var(--color-white);
  z-index: 3;
  cursor: pointer;
  border-radius: var(--border-radius-default);
  position: relative;
  transition: .3s var(--transition-default);
} 

.number-custom .number-custom-btn:hover {
  background-color: var(--color-sub);
}