
.radio-field h3 {
    font-size: var(--font-title-sub);
    font-weight: var(--font-weight-title);
}

/* 라디오 기본 스타일 */

.radio {
    display: flex;
    gap: 1rem;
}

.radio label {
    position: relative;
    cursor: pointer;
    padding-left: 1.8rem;
    display: inline-block;
    font-size: var(--font-default);
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

  .radio label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4rem;
    height: 1.4rem;
    border: var(--border-default);
    background: #fff;
    transition: all 0.2s ease;
    border-radius: 50%;
  }

  .radio input:checked + label::before {
    border-color: var(--color-main);
  }

  .radio input:checked + label::after {
    content: '';
    position: absolute;
    left: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: var(--color-main);
    border-radius: 50%;
    opacity: 1;
    transition: all 0.2s ease;
  }
  
  .radio input:disabled + label::before {
    background-color: var(--color-gray);
    cursor: not-allowed;
  }
  .radio input:disabled + label {
    color: var(--color-font);
  }
