input[type="range"] {
	overflow: hidden;
	height: 10px;
	-webkit-appearance: none;
/* 	 margin: 10px 0;  */
	width: 100%;
	background: #C5C6C8;
	padding: 0px;
	border-radius: 25px;
	border: none;
/* 	 padding: 2px; */
}

 input[type="range"]:focus {
    outline: 3px solid #aaa;
}
 
 input[type="range"]:focus:not(:focus-visible) {
    outline: 0;
} 

 input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 25px;
	border: 1px solid #ffffff;
}

 input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 9px;
	height: 9px;
	background: #ffffff;
	border: 2px solid #97D2FF;
	border-radius: 25px;
	box-shadow: 1px 1px 7px #ffffff;
	cursor: pointer;
	box-sizing: border-box;
	box-shadow: -100vw 0 0 100vw #69aef2;
}
.range {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: .6rem;
}
.range-value {
    text-align: center;
    font-size: var(--font-default);
    font-weight: 600;
}
/* 슬라이드바 e */