/* 반응형 미디어 쿼리 */
@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
  .main-content .visaul .txtbox {
    display: none;
  }
  .visaul .solution-box {
    grid-area: 1 / 2 / 4 / 3;
  }
  .visaul .line-box {
    grid-area: 4 / 2 / 4 / 4;
  }
  .visaul .popuphello {
    grid-area: 3 / 4 / 5 / 10;
  }
  .visaul .popupdiv {
    grid-area: 3 / 6 / 1 / 5;
  }
  .visaul .line-box-2 {

  }
  .visaul .icon-list {

  }
  .visaul .shapes {
    display: none;
  }
  .visaul .sol-txt {
    display: none;
  }
}

@media (max-width: 1024px) {
  main .aside-tab {
    left: -30rem;
  }
  body main {
    margin-left: 0;
    width: 100%;
  }
  .menu-img {
    display: block;
  }
  .main-content .visaul {
    
  }
}

@media (max-width: 768px) {
 
}
@media (max-width: 360px) {
 
}
