:root {
    /* 루트값을 입력해주세요 */
    --color-white: #fff;
    --color-black: #000;
    --color-font: #949494;
    --color-border: #d9d9d9;
    --color-gray: #e9e9e9;
    --color-main: #90b5f3;
    --color-sub: #90b5f3;
    --color-point: #90b5f3;
    --color-error: red;

    --font-default: 1.3rem;
    --font-title-sub: 1.8rem;
    --font-title: 4rem;

    --font-weight-default: 300;
    --font-weight-title: 800;
  
    --font-family-main: "pretendard";
    --font-family-sub: "SUIT";
    --font-family-g: "Gmarket Sans";
  
    --border-default: 1px solid #d9d9d9;
  
    --border-radius-default: .6rem;

    --padding-default: .8rem;
  
    --shadow-default: 0px 3px 10px #00000007;

    --hight-default: 3.5rem;
  
    --transition-up: cubic-bezier(0.53, 0.01, 0.09, 0.99) 0s;

    --transition-default: cubic-bezier(0.53, 0.01, 0.09, 0.99) 0s;

    --color-focus: 1px solid #0066ff;
  }
  