
/* input s */
input {
  height: 3.5rem;
  border: var(--border-default);
  box-sizing: border-box;
  color: var(--color-font);
  font-weight: var(--font-weight-default);
  padding: 0 var(--padding-default);
  font-size: var(--font-default);
  border-radius: var(--border-radius-default);
}
/* input e*/

/* textarea s */
textarea {
  min-height: 8.4rem;
  border-radius: var(--border-radius-default);
  padding: var(--padding-default);
  color: var(--color-font);
  font-weight: var(--font-weight-default);
  font-size: var(--font-default);
  border: var(--border-default);
  font-family: var(--font-family-sub);
}
/* textarea e */

/* input - search s */
input.search {
  padding: 0 1.6rem 0 3.2rem;
}

.search-input {
  position: relative;
}

label.search {
  position: absolute;
  background: url(./img/search.svg) 50% 50% no-repeat;
  width: 3.2rem;
  height: 100%;
}

/* input - search e */


/* input -password s */
.password {
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.password p {
  font-size: 1.2rem;
  color: var(--color-font);
}
.password p em {
  font-size: 1.3rem;
  color: var(--color-main);
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

.error input {
  border: 1px solid var(--color-error);
}
.password.error p {
  color: var(--color-error);
}

.password-input {
  position: relative;
}
.password-input .password-btn {
  position: absolute;
  background: url(./img/toggle.svg) 50% 50% no-repeat;
  width: 3.2rem;
  height: 100%;
  right: 0;
  cursor: pointer;
}
/* input -password e */