<div class="main-wrapper">
  <div class="main-top-container">
    <div class="title-header">
      <h2>Components</h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
        <g clip-path="url(#clip0_33_340)">
          <path d="M29.6563 14.4361C29.6559 14.4358 29.6556 14.4354 29.6552 14.435L23.532 8.34125C23.0732 7.88475 22.3313 7.88645 21.8746 8.34524C21.4181 8.80397 21.4198 9.54594 21.8786 10.0025L25.9897 14.0938H1.17188C0.524649 14.0938 0 14.6184 0 15.2656C0 15.9129 0.524649 16.4375 1.17188 16.4375H25.9897L21.8786 20.5288C21.4199 20.9853 21.4181 21.7273 21.8747 22.186C22.3313 22.6449 23.0733 22.6464 23.532 22.19L29.6553 16.0963C29.6556 16.0959 29.6559 16.0955 29.6564 16.0951C30.1153 15.6371 30.1139 14.8927 29.6563 14.4361Z" fill="#5A5A5A"/>
        </g>
        <defs>
          <clipPath id="clip0_33_340">
            <rect width="30" height="30" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <h3>Button</h3>
    </div>
    <div class="top-container">
      <div class="top-box">
        <h4>Button</h4>
        <p class="top-info-txt">
          버튼는 사용자가 인터페이스와 상호작용할 수 있도록 돕는 핵심 컴포넌트입니다. 특정 작업을 수행하거나 다음 단계로 이동하도록 유도하는 명확한 행동 지점을 제공합니다. 
          주로 콘텐츠 영역이나 화면 하단 영역에 배치되며, 페이지 내에서 중요한 기능을 실행하거나 흐름을 전환하는 트리거 역할을 합니다.
          사용자는 버튼을 통해 저장, 제출, 이동, 공유 등 다양한 기능을 수행할 수 있으며, 버튼의 형태와 스타일은 기능의 중요도와 우선순위에 따라 달라집니다.
          잘 설계된 버튼은 명확한 시각적 피드백을 제공하고, 터치 또는 클릭에 최적화되어 있어 직관적인 사용자 경험을 제공합니다.
        </p>
      </div>
    </div>
  </div>
  <div class="flex-gap">
    <h5>Anatomy</h5>
    <div class="naming-container bg-gray">
      <div class="naming-container-inner button-container">
          <ul>
            <li>
              <div class="blue-button">button</div>
              <p><span class="blind">버튼 1번, 2번</span></p>
            </li>
            <li>
              <div class="blue-button">button</div>
              <p><span class="blind">버튼 3번</span></p>
            </li>
            <li>
              <div class="blue-button">button</div>
              <p><span class="blind">버튼 4번</span></p>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>